@import "tailwindcss";

@theme {
    --primary-color: #FCFBFA;
    --orange-color: #D76700;
    --border-color: #CCCBCA;
    --font-primary: "JetBrains Mono", monospace;
    --font-secondary: "Poppins", sans-serif;
    --font-tertiary: "WindSong", cursive;
}

:root {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.5;

    font-weight: 400;
    background-color: #242424;
    color: var(--primary-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
}

.block {
    font-family: "Poppins", sans-serif;
}

.block_1 {
    font-size: 1.375rem;
}

.block_2 {
    font-size: 1.125rem;
}

.block_3 {
    font-size: 0.875rem;
}


.wrapper {
    position: relative;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/camera.jpg");
    filter: blur(3px);
    background-size: cover;
    background-position: center;
}

.material-symbols-rounded {
    font-size: 2rem;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
    /*font-size: 2.5rem;*/
}

.logo {
    width: 60px;
}

#about-core {
    position: relative;
}

#about-core::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/hero.jpg");
    filter: brightness(0.6) blur(1px);
    background-size: cover;
    background-position: center;

    @media (width >= 48rem) {
        background-position: top center;
    }

    @media (width >= 80rem) {
        background-position: left top -180px;
    }
}

.category {
    cursor: pointer;
    padding: 10px 0;

    img {
        max-width: 200px
    }

    p {
        display: flex;
        align-items: center;
        column-gap: 0;
        transition: column-gap 0.5s ease;
    }

    .category-img-container {
        height: auto;
        max-height: 0;
        transition: max-height 0.5s ease;
        overflow: hidden;
    }

    span {
        background-color: white;
        display: inline-block;
        transition: width 0.25s;
        width: 0;
        height: 2px;
    }

    &:hover, &:focus {
        p {
            column-gap: 10px;
        }

        span {
            width: 15px;
            height: 2px;
        }

        .category-img-container {
            max-height: 150px;
        }
    }
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

#contact {
    position: relative;

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./images/man_camera_up.jpg");
        filter: brightness(0.6) blur(1px);
        background-size: cover;
        background-position: center;
    }
}

form {
    input, textarea {
        color: black;
        width: 100%;
        background-color: white;
        padding: 1rem;

        &::placeholder {
            font-weight: bold;
        }
    }

    input[type=checkbox] {
        width: 18px;
        height: 18px;
        /*background-color: var(--orange-color);*/
    }
}

footer {
    .footer-icon {
        font-size: 1.50rem;
    }
}